
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Patrick Hand";
}
header {
    font-size: 35px;
	background-color: hsl(201, 38%, 42%);
	display: grid;
	grid-gap: 2rem;
	padding: 25px;
}
header,
main {
	margin: 0 auto;
}
h1 {
	font-size: 2rem;
    color: white;
	font-size: 48px;
}
nav {
	display: flex;
	flex-direction: column;
    position: relative;
}
nav a {
	display: none;
	color: white;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
nav a:hover {
	text-decoration: underline;
    color: rgb(255, 248, 47);;
    border: 1px solid rgb(255, 248, 47);;
}
.hamburger {
    display: block;
	position: absolute;
	padding: 20px;
	top: 20px;
	right: 20px;
	margin-top: -120px;

}
h2{
	grid-row: 1;
	margin-bottom: 5px;
	text-align: center;
	font-size: 50px;
}
main{
	margin: 50px;
}

.temple {
    width: 100%;
    max-width: 600px;
    height: auto;
	justify-content: space-around;
}
figcaption{
	text-align: center;
}
footer{
    background-color: hsl(201, 38%, 42%);
    height: 75px;
    color: white;
    text-align: center;
}
